<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/">EzLibs</a>
    <form class="form-inline">

        <!-- 여기에 장고 써서 로그인 확인, 유저정보 표시 등 해야함-->
        {% if user.is_authenticated %}
        <font color="white" style="margin-right: 20px">{{ user.username }}님 환영합니다!</font>
        <input class="btn btn-outline-success my-2 my-sm-0" type="button" onclick="location.href='{% url 'users:logout' %}'" value="로그아웃"></input>
        {% else %}
        <input class="btn btn-outline-success my-2 my-sm-0" type="button" onclick="location.href='{% url 'users:login' %}'" value="로그인"></input>
        {% endif %}
        <div class=btn-margin>
        </div>
    </form>
</nav>