{% extends 'base.html'%}
{% block content %}

<script type="text/javascript">

//x를 demo랑 연결
var x = document.getElementById("demo");

function getLocation() {
    //alert("getLocation");
    if(navigator.geolocation){
        navigator.geolocation.getCurrentPosition(function(pos){
            $('#latitude').html(pos.coords.latitude);
            $('#longitude').html(pos.coords.longitude);
        });
    }
    else{
        alert("위치를 얻을 수 없습니다.");
    }
}
function showPosition(position) {
    x.innerHTML = "위도:" + position.coords.latitude + " 경도:" + position.coords.longitude;
}

</script>

<div class="container">
    <form id="searchForm" method="get" action="{% url 'search:index' %}">
        <div class="input-group mb-3 input-group-lg">
            <input id="search" type="text" class="form-control" placeholder="검색어 입력" name="kw"
                   value="{{ kw|default_if_none:'' }}" aria-label="Recipient's username"
                   aria-describedby="button-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit" id="button-addon2">검색</button>
            </div>
        </div>
    </form>
    <div class="space" style="margin-top: 84px"></div>

    <div class="searchList">
        <ul class="resultList">
            <li class="item">
                <dl>
                    <!--
                        <dt class="tag">번호</dt>
                        <dd class="info">(1)<dd>
                    -->

                    <div class="leftInfo" style="float: left">
                        <dt class="tag">제목</dt>
                        <dd class="info">
                            <a>{{ detail[0].book.bookname }}</a>
                        </dd>
                        <dt class="tag">저자</dt>
                        <dd class="info">
                            <a>{{ detail.book.authors }}</a>
                        </dd>
                        <dt class="tag">출판사</dt>
                        <dd class="info">
                            <a>{{ isbn.publisher }}</a>
                        </dd>
                        <dt class="tag">출판년도</dt>
                        <dd class="info">
                            <a>{{ isbn.publication_year }}</a>
                        </dd>
                    </div>

                    <div class="rightInfo" style="display:inline-block; margin-left: 70%">
                        <dt class="tag">표지</dt>
                        <dd class="info">(사진 예시)</dd>
                    </div>

                </dl>
            </li>
        </ul>

        <!--
            도서관
        -->

        <div class="titleArea">
            <h3 class="tableTitle">테이블 예시</h3>
            <button onclick="getLocation()">내 위치</button>
            <a>위도:<a id="latitude"></a></a>
            <a>경도:<a id="longitude"></a></a>
        </div>

        <div class="infoArea" style="border: 1px solid gray">
            <thead>
            <tr>
            </tr>
            </thead>

            <tbody>
            <tr>
            </tr>
            </tbody>
        </div>

        <div class="titleArea">
            <h3 class="infoTitle">div 박스</h3>
        </div>

        <div class="infoArea" style="border: 1px solid gray">
        </div>

    </div>
</div>

{% endblock %}