{% extends 'base.html' %}
{% block content %}

<div class="row mt-5">
    <div class="col-12">
    </div>
</div>
<div class = container>
    <div class="input-group mb-3 input-group-lg">
        <form id = "searchForm" method="get" action = "{% url 'search:index' %}">
            <input id="search" type="text" class="form-control" placeholder="검색어 입력" name="kw" value="{{ kw|default_if_none:'' }}" aria-label="Recipient's username" aria-describedby="button-addon2">
            <div class="input-group-append">
                <input class="btn btn-outline-secondary" type="submit" id="button-addon2" value="검색">
            </div>
        </form>
    </div>
</div>

{% endblock %}