{% extends 'base.html' %}
{% block content %}

<div class="row mt-5">
    <div class="col-12">
    </div>
</div>

<div id="title_font" class="mainTitle text-center" style="margin-top: 50px; font-size:100px;">
    <p>EzLibs</p>
</div>

<div class=container>
    <form id="searchForm" method="get" action="{% url 'search:index' %}">
        <div class="input-group mb-3 input-group-lg">
            <input id="search" type="text" class="form-control" placeholder="검색어 입력" name="kw"
                   value="{{ kw|default_if_none:'' }}" aria-label="Recipient's username"
                   aria-describedby="button-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit" id="button-addon2">검색</button>
            </div>
        </div>
    </form>
</div>

{% if user.is_authenticated %}
<div style="margin-left: 300px; margin-right: 300px; margin-top: 140px;">
    <div>
        <center>
            <h3 id="recommended_book" class="infoTitle">추천 책 목록</h3>
        </center>
    </div>
    <div>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <center>
                        <img class="info" src="{{ book.book.bookImageURL }}" width="200" height="250"
                             style="margin-right: 30px; margin-left: 30px"></img>
                        <img class="info" src="{{ book.book.bookImageURL }}" width="200" height="250"
                             style="margin-right: 30px; margin-left: 30px"></img>
                        <img class="info" src="{{ book.book.bookImageURL }}" width="200" height="250"
                             style="margin-right: 30px; margin-left: 30px"></img>
                        <img class="info" src="{{ book.book.bookImageURL }}" width="200" height="250"
                             style="margin-right: 30px; margin-left: 30px"></img>
                    </center>
                </div>
                <div class="swiper-slide">
                    <center>
                        <img class="info" src="{{ book.book.bookImageURL }}" width="200" height="250"
                             style="margin-right: 30px; margin-left: 30px"></img>
                        <img class="info" src="{{ book.book.bookImageURL }}" width="200" height="250"
                             style="margin-right: 30px; margin-left: 30px"></img>
                        <img class="info" src="{{ book.book.bookImageURL }}" width="200" height="250"
                             style="margin-right: 30px; margin-left: 30px"></img>
                        <img class="info" src="{{ book.book.bookImageURL }}" width="200" height="250"
                             style="margin-right: 30px; margin-left: 30px"></img>
                    </center>
                </div>
                <div class="swiper-slide">
                    <center>
                        <img class="info" src="{{ book.book.bookImageURL }}" width="200" height="250"
                             style="margin-right: 30px; margin-left: 30px"></img>
                        <img class="info" src="{{ book.book.bookImageURL }}" width="200" height="250"
                             style="margin-right: 30px; margin-left: 30px"></img>
                        <img class="info" src="{{ book.book.bookImageURL }}" width="200" height="250"
                             style="margin-right: 30px; margin-left: 30px"></img>
                        <img class="info" src="{{ book.book.bookImageURL }}" width="200" height="250"
                             style="margin-right: 30px; margin-left: 30px"></img>
                    </center>
                </div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
            <script src="path/to/swiper.min.js"></script>
            <script id="rendered-js">
                var slide = new Swiper('.swiper-container', {
                    navigation: {
                        nextEl: '.swiper-button-next',
                        prevEl: '.swiper-button-prev',
                    },
                    autoplay: {
                        delay: 3000
                    }
                })
            </script>
        </div>
    </div>
</div>
{% endif %}
</body>
</html>
{% endblock %}