{% extends 'base.html' %}
{% block content %}

<script type="text/javascript">

        function onCheckBox(checkBox){
            var obj = document.getElementsByName("gender");
            for(var i=0; i<obj.length; i++){
                if(obj[i] != checkBox){
                    obj[i].checked=false;
                }
            }
        }
</script>

<center>
    <div class="container" style="margin-bottom:60px;">
        <div class="row mt-5">
            <div class="col-12 text-center">
                <h1>회원가입</h1>
            </div>
        </div>
        <div class="col-12" style="margin-top: 60px">
            <form method="POST" action=".">
                {% csrf_token %}
                <div class="form-group" style="width:400px;">
                    <label for="name" style="float:left">이름</label>
                    <input type="text" class="form-control" id="name" name="name" style="width:400px; height:35px;">
                </div>
                <div class="form-group" style="width:400px;">
                    <label for="username" style="float:left">아이디</label>
                    <input type="text" class="form-control" id="username" name="username"
                           style="width:400px; height:35px;">
                </div>
                <div class="form-group" style="width:400px;">
                    <label for="email" style="float:left">이메일</label>
                    <input type="email" class="form-control" id="email" name="email" style="width:400px; height:35px;">
                </div>
                <div class="form-group" style="width:400px;">
                    <label for="password1" style="float:left">비밀번호</label>
                    <input type="password" class="form-control" id="password1" name="password1"
                           style="width:400px; height:35px;">
                </div>
                <div class="form-group" style="width:400px;">
                    <label for="password2" style="float:left">비밀번호 확인</label>
                    <input type="password" class="form-control" id="password2" name="password2"
                           style="width:400px; height:35px;">
                </div>

                <div class="form-group">
                    <label for="checkBoxMale">
                        <input type="checkbox" name="gender" id="checkBoxMale" value="M"
                               onclick="onCheckBox(this)">남자</input>
                    </label>

                    <label for="checkBoxFemale">
                        <input type="checkbox" name="gender" id="checkBoxFemale" value="F" onClick="onCheckBox(this)"
                               style="margin-left:5px;">여자</input>
                    </label>
                </div>

                <div>
                    {% include "form_errors.html" %}
                </div>

                <div>
                    <button type="submit" class="btn btn-primary" style="width: 400px; margin-top: 30px;">등록</button>
                </div>
            </form>
        </div>
    </div>
</center>

{% endblock %}