{% extends 'base.html'%}
{% block content %}

<script type="text/javascript">

function getLocation() {
    //alert("getLocation");

    
    if(navigator.geolocation){
        navigator.geolocation.getCurrentPosition(function(pos){
            sendLocation(pos.coords.latitude, pos.coords.longitude);
            /*
            $('#latitude').html(pos.coords.latitude);
            $('#longitude').html(pos.coords.longitude);
            */
        });
    }
    else{
        alert("위치를 얻을 수 없습니다.");
    }
}

function showPosition(position) {
    x.innerHTML = "위도:" + position.coords.latitude + " 경도:" + position.coords.longitude;
}

function sendLocation(latitude, longitude) {
    var string = './?longitude='+longitude+'&latitude='+latitude;

    location.href=string;
}




</script>

<div class="container">
    <form id="searchForm" method="get" action="{% url 'search:index' %}">
        <div class="input-group mb-3 input-group-lg">
            <input id="search" type="text" class="form-control" placeholder="검색어 입력" name="kw"
                   value="{{ kw|default_if_none:'' }}" aria-label="Recipient's username"
                   aria-describedby="button-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit" id="button-addon2">검색</button>
            </div>
        </div>
    </form>
    <div class="space" style="margin-top: 84px"></div>

    <div class="searchList">
        <ul class="resultList">
            <li class="item">
                <dl>
                    <!--
                        <dt class="tag">번호</dt>
                        <dd class="info">(1)<dd>
                    -->

                    <div class="rightInfo" style="display:inline-block; float: right">
                        <dt class="tag">표지</dt>
                        <img class="info" src="{{ detail.0.book.bookImageURL }}" width="200" height="250"></img>

                    </div>
                    <div class="leftInfo">
                        <dt class="tag">제목</dt>
                        <dd class="info">
                            <a style="font-size:22px;">{{ detail.0.book.bookname }}</a>
                        </dd>
                        <dt class="tag">저자</dt>
                        <dd class="info">
                            <a><b>저자</b> : {{ detail.0.book.authors }}</a>
                        </dd>
                        <dt class="tag">출판사</dt>
                        <dd class="info">
                            <a><b>출판사</b> : {{ detail.0.book.publisher }}</a>
                        </dd>
                        <dt class="tag">출판일자</dt>
                        <dd class="info">
                            <a><b>출판일자</b> : {{ detail.0.book.publication_date }}</a>
                        </dd>
                        <dt class="tag">책소개</dt>
                        <dd class="info">
                            <div><b>책소개</b></div>
                            <a>{{ detail.0.book.description }}</a>
                        </dd>
                    </div>
                </dl>
            </li>
        </ul>

        <!--
            도서관
        -->
        <div class="libraryTableArea">
            <div style="position:relative;">
                <div>
                    <p class="tableTitle">도서관 리스트</p>

                    <!-- 거리 선택 dropdown -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            거리
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                    </div>
                </div>
                <button onclick="getLocation()" class="btn btn-info">내 위치</button>


                <table class="table table-hover" disabled="">
                    <thead>
                    <tr align="center">
                        <th scope="col">도서관명</th>
                        <th scope="col">전화번호</th>
                        <th scope="col">운영시간</th>
                        <th scope="col">떨어진 거리</th>
                        <th scope="col">소장여부</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for library in libs %}
                    <tr align="center">
                        <td>{{ library.lib.libName }}</td>
                        <td>{{ library.lib.tel }}</td>
                        <td>{{ library.lib.operatingTime }}</td>
                        <td>{{ library.lib.distance }}km</td>
                        <td>{{ library.lib.result }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="infoArea" style="border: 1px solid gray">
            <thead>
            <tr>

            </tr>
            </thead>

            <tbody>
            <tr>
            </tr>
            </tbody>
        </div>

        <div class="titleArea">
            <h3 class="infoTitle">div 박스</h3>
        </div>

        <div class="infoArea" style="border: 1px solid gray">
        </div>

    </div>
</div>

{% endblock %}